<%- include ("./partials/head.ejs")  %> 

<form action="/blogs" method="POST">
    <label>title</label><br>
    <input type="text" class="title" id="title" name="title" required><br>
    <label>body</label><br>
    <input type="text" class="body" id="body" name="body" required><br>
    <label>snip</label><br>
    <input type="text" class="snippet" id="snippet" name="snippet" required><br>
    <button type="submit">POST</button>

</form>


<%- include ("./partials/foot.ejs")  %> 